

.boxContainer{
    background-color: rgb(211, 211, 211);
    width: 100%;    
    align-self: center;
    display: flex;
    color: black;
    
}

.imgContainer{
    flex: 0.5;
    text-align: center;
    background: linear-gradient(135deg, #1400B4 0%, #09004E 100%);  
    margin: 20px;
}

.txtContainer{
    flex:1;
    text-align: justify;
    margin: 50px;
}

.teamSection {
  margin-top: 6%;
  text-align: center;
}


