/* CarouselColecao.module.css */
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.title {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.arrows {
  display: flex;
  gap: 0.5rem;
}

.navButton {
  background: #1400b4;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  padding: 0;
}

.navButton:hover {
  background: #0d008c;
  transform: scale(1.1);
}

.carouselWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carouselContainer {
  overflow: hidden;
  width: fit-content;
  max-width: 100%;
}

.collectionsTrack {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.collectionItem {
  flex: 0 0 auto;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.ball:hover {
  transform: scale(1.05);
}

.seeAllButton {
  background: none;
  border: none;
  color: #1400b4;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s;
  white-space: nowrap;
}

.seeAllButton:hover {
  color: #0d008c;
  text-decoration: none;
}

.finalButton {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1400b4;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.finalButton:hover {
  background-color: #0d008c;
  transform: scale(1.05);
}

/* para mudar de  cor e travar seta */
.disabledButton {
  background-color: #e0e0e0 !important;
  color: #0d008c !important;
  cursor: not-allowed !important;
}

.navButton:hover:not(.disabledButton) {
  background: #0d008c;
  transform: scale(1.1);
}

/* slick */


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  display: flex;
  justify-content: center;
  margin: 0 1rem; /* Espaço entre os itens */
}

/* Ajuste para centralizar os itens */
.slick-slide > div {
  display: flex !important;
  justify-content: center;
}

/* Remove os estilos padrão das setas do Slick */
.slick-arrow {
  display: none !important;
}
